* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5 {
    margin-block-end: 0;
    margin-block-start: 0;
}

body {
    margin: 0;
    background-color: #5F71FD;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}